.icon_properties {
    padding-top: 7px;
    width: 100%;
    text-align: center;
}

.background_properties {
    border-radius: 50%;
    display: inline-block;
  }

.nav {
    position: fixed;
    bottom: 15px;
    right: 10px;
}